@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0f1015;
    color: #fff;
    padding-bottom: 40px;
    /* Space for bottom bar */
}

.homepage-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.homepage-gif {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.start-button {
    width: 200px;
    padding: 14px;
    font-size: 18px;
    background-color: #5563DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: lightblue;
}

/* Bottom Bar Styles */
.bottom-bar {
    width: 100%;
    background-color: #5563DE;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

.bottom-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.bottom-bar a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .homepage-container {
        flex-direction: column;
    }

    .main-title {
        font-size: 3.5rem;
        margin: 20px 0;
    }
}