name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  backend-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code b
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        working-directory: Gladiators_SOEN341_Project_W25
        run: npm ci
      
      - name: Run Backend Tests
        working-directory: Gladiators_SOEN341_Project_W25
        run: npm test --verbose -- --selectProjects "backend test"

      - name: Build Project
        working-directory: Gladiators_SOEN341_Project_W25
        run: npm run build
        
  frontend-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code f
        uses: actions/checkout@v3
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        working-directory: Gladiators_SOEN341_Project_W25
        run: npm ci

      - name: Run Frontend Tests
        working-directory: Gladiators_SOEN341_Project_W25
        run: npm test --verbose -- --selectProjects "frontend tests"

      - name: Build Project
        working-directory: Gladiators_SOEN341_Project_W25
        run: npm run build

  deploy:
    needs: [backend-test, frontend-tests]
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Production
        run: echo "Deploying to production..."
